# Archivos de entorno
.env
.env.local
*.env
.env.*
!.env.example

# Entorno virtual
venv/

# Archivos de sistema macOS
.DS_Store

# Configuraciones de VS Code
.vscode/

# Archivos Python generados
__pycache__/
*.pyc